/* --- BASE --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#cabecalho-eco {
  background-color: #1b5e20;
  color: white;
  padding: 20px;
  text-align: center;
}

/* Escondendo os controles do Hamburguer no Desktop */
#check-menu,
#icone-btn {
  display: none;
}

#nav-eco ul {
  list-style: none;
  margin-top: 15px;
}
#nav-eco li {
  display: inline-block;
  margin: 0 10px;
}
#nav-eco a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* GRID DESKTOP */
.lista-noticias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 40px;
}

.card-noticia {
  border: 2px solid #2e7d32;
  padding: 15px;
  border-radius: 8px;
}
.card-noticia img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

/* Video Responsivo */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn-leitura {
  background-color: #1b5e20;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

/* --- RESPONSIVIDADE --- */

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .lista-noticias {
    grid-template-columns: 1fr 1fr;
  }
}

/* MOBILE */
@media screen and (max-width: 600px), (orientation: portrait) {
  #icone-btn {
    display: block;
    font-size: 2.5rem;
    cursor: pointer;
    padding: 10px;
  }

  #nav-eco ul {
    display: none;
  }

  /* Lógica do Menu Hamburguer */
  #check-menu:checked ~ #nav-eco ul {
    display: block;
  }

  #nav-eco li {
    display: block;
    padding: 15px 0;
    border-bottom: 1px solid #2e7d32;
  }

  .lista-noticias {
    grid-template-columns: 1fr;
    padding: 20px;
  }
  .desc {
    display: none;
  }
}
