* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}
body {
  background-color: #f0f2f5;
  color: #333;
}
header {
  background-color: #6c5ce7;
  color: white;
  padding: 20px;
  text-align: center;
}
.container {
  max-width: 800px;
  margin: 30px auto;
  padding: 0 20px;
}
.painel {
  background: white;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
h2 {
  color: #6c5ce7;
  margin-bottom: 15px;
  font-size: 1.5rem;
  border-bottom: 2px solid #eee;
  padding-bottom: 5px;
}
.grupo-input {
  margin-bottom: 15px;
}
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}
.total {
  font-size: 1.2rem;
  margin-top: 10px;
}
.total strong {
  color: #00b894;
  font-size: 1.5rem;
}

.produto-dica {
  text-align: center;
  margin-bottom: 15px;
}
.img-produto {
  max-width: 120px;
  height: auto;
  border-radius: 10px;
  border: 2px solid #eee;
}

.btn-primario,
.btn-secundario {
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.btn-primario {
  background-color: #00b894;
  color: white;
}
.btn-primario:hover {
  background-color: #01997b;
}
.btn-secundario {
  background-color: #d63031;
  color: white;
  margin-bottom: 15px;
}
.btn-secundario:hover {
  background-color: #b71c1c;
}

/* =========================================
   CLASSES QUE VOCÊ DEVE DESCOMENTAR E COMPLETAR
   ========================================= */

/* Missão 2: Estilo para quando o mouse entra no banner (.destaque-dark) */
/* Dica: Altere a cor de fundo para #2d3436 e a cor da letra (texto) para white. O zoom já deixei pronto! */

/*
.destaque-dark {
    
    
    transform: scale(1.02);
}
.destaque-dark h2 {
    color: #00b894;
    border-color: #00b894;
}
*/

/* Missão 4: Estilo do card de produto adicionado ao carrinho (.card-carrinho) */
/* Dica: Adicione uma linha de borda (2px solid #dfe6e9), um espaçamento interno de 15px, um arredondamento nas pontas de 8px e cor de fundo branca (#fff) */

/*
.card-carrinho {
    margin-bottom: 10px;
    
    
    
    
}
*/