*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
#topo-loja{
    background-color: tan;
    color: bisque;
    padding: 20px;
    text-align: center;
}